<section class="news-all border-full pb-lg-28 pb-16">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-1 mt-md-0 mt-3 loader up-anim">
                <h1 class="section-secondary-title-v2">{{ title | lower }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 offset-md-1 mb-lg-9 mb-md-7 mb-4 loader up-anim">
                <h2 class="news-head-title max-w-1240px">{{ summary }}</h2>
            </div>
        </div>
        {{# News cards  #}}

        {{ collection:news }}
            {{ if count % 3 == 1 }}
                <div class="row mb-lg-16 mb-md-7 {{ if first }}mb-0{{else}}mb-5{{ /if }}">
                    {{ partial:news-from-us/news-small-card }}
                    {{if last}}
                        </div>
                    {{/if}}
            {{ elseif count % 3 == 2 }}
                    {{ partial:news-from-us/news-small-card }}
                </div>
            {{ else }}
                <div class="row mb-lg-16 mb-md-7 {{ if first }}mb-0{{else}}mb-5{{ /if }}">
                    {{ partial:news-from-us/news-wide-card }}
                </div>
            {{ /if }}
        {{ /collection:news }}

        <div class="row" id="loadNewsWrapper">
            <div class="col-md-8 offset-md-1">
                <a class="outline-btn red font-weight-bold d-inline-block ml-sm-0 ml-5 load-more"  id="loadNews" href="#">LOAD MORE</a>
            </div>
        </div>
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
<script>
    $(document).ready(function () {
        let news = $(".new:hidden");
        if (news.length < 4) {
            $("#loadNewsWrapper").hide();
        }
        $(function () {
            $(".new").slice(0, 3).show();
            $("#loadNews").on('click', function (e) {
                e.preventDefault();
                news = $(".new:hidden");
                news.slice(0, 3).slideDown();
                if (news.length < 4) {
                    $("#loadNewsWrapper").hide();
                }
            });
        });
    });

</script>
