s<div class="row mb-lg-9 mb-md-7 mb-4">
    <div data-aos="fade-up" class="col-md-8 offset-md-2">
        <h2 class="head-description">
            {{ title }}
        </h2>
    </div>
</div>
<div class="row mb-lg-15 mb-md-8 mb-5">
    <div data-aos="fade-up" class="col-md-4 offset-md-2">
        <p class="body-description">
            {{ summary }}
        </p>
    </div>
    <div data-aos="fade-up" class="col-md-4">
        <p class="body-description">
            {{ content | strip_tags }}
        </p>
    </div>
</div>
